*{
  margin:0;
  padding:0;
}
body{
  font-family:sans-serif;
}
form{
  padding:20px;
  border-bottom:1px dashed #999;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
input,button{
  display:block;
  -webkit-appearance:none;
  appearance:none;
  font-family:sans-serif;
}
form input[type="text"]{
  border:none;
  border-bottom:1px dashed #999;
  text-align:center;
  font-size:1.5em;
  width:500px;
}
form input[type="submit"]{
  background-color:transparent;
  border:1px solid #999;
  border-radius:10px;
  padding:10px 15px;
  color:#444;
  margin-top:20px;
}
.tareas{
  width:450px;
  margin:20px auto;
}
.tarea{
  border:1px solid #999;
  border-radius:20px;
  padding:20px;
  margin-bottom:20px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
.tarea h2,
.tarea input[type="text"]{
  font-weight:normal;
  color:#444;
  font-size:2em;
  width:100%;
  display:none;
}
.tarea input[type="text"]{
  border:none;
  border-bottom:1px dashed #999;
  padding-bottom:5px;
}
.tarea input.visible,.tarea .visible{
  display:block;
}
.boton{
  background-color:transparent;
  border:1px solid #999;
  border-radius:10px;
  padding:10px 15px;
  color:#444;
  margin-top:20px;
  margin-right:20px;
}
.estado{
  border:none;
  background-color:#333;
  width:50px;
  height:20px;
  border-radius:10px;
  position:relative;
  margin-top:20px;
}
.estado span{
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:#f00;
  position:absolute;
  top:0;
  left:0;
  transition:left 1s, background-color 0.8s;
}
.terminada span{
  background-color:#0c0;
  left:30px;
}